parameters_\d+\.py
gluon/tests/
gluon/rocket/
contrib/gateways/
contrib/markdown/
contrib/memcache/
contrib/pymysql/
contrib/populate/
contrib/taskbar_widget/
contrib/
*.pyc
databases/
errors/
private/
sessions/
uploads/
workbench/
*.*~
README.markdown
*.log

